          <a href="/logout" class="btn btn-lg btn-default pull-right logout-button">Logout</a>
        <div id="dashboard">
          <h3 class="welcome">Welcome, <%=@current_user.firstname%>!</h3>
          <h2 class="sub-header dashboard">Dashboard</h2>
          <div class="table-responsive">

            <ol id="todo-list" class="unstyled candara">
                <% @tasks.each do |task| %>
                  <li id="<%= task[:id] %>">
                  <span class="task">
                    <%= task[:done] ? "<del>#{task[:todo]}</del>" : task[:todo] %>
                  </span>
                  (priority => <%=task[:priority] %>)
                  <span class="pull-right">

                    
                    <a href="/delete/<%= task[:id] %>" class="btn btn-danger">Delete</a>
                  </span>
                  
                  </li>
                  <br />
                <% end %>
              </ol>
              <a href="/new/task" class="candara">Add new task</a>          
          </div>
        </div>
